@use './variables' as v;

@mixin reset {
	html {
		box-sizing: border-box;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	body {
		background-color: v.$bg_clr;
		padding: 30px 10px;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		color: v.$primary_clr_dark;
		text-decoration: none;
	}

	ol,
	ul {
		list-style: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
